
.background {
	width: 100vw;
	height: 100vh;
	background-image: url('../../../png/services.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.productBox {
	overflow-x: hidden; 
	overflow-y: scroll;
	overflow: -moz-scrollbars-none; 
	-ms-overflow-style: none;
	
	height:90vh;
}

.productBox::-webkit-scrollbar {
	 width: 0 !important 
}