.background{
	
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8.5rem;
	background-color: #e61616;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0% 2.5% 0% 2.5%;
	z-index: 900;
	max-height: 23vh;
	margin: 0%;
	border-bottom: 5px solid #000000;
}
.unordered_list {
	padding: 0%;
	width: 100%;
	float: right;
}

.logo {
	/* image 1 */
	padding: 1px;
	position: relative;
	width: 316px;
	height: 121.33px;
	float: left;
    /* you need to match the shadow color to your background or image border for the desired effect*/

}

.link_box {
	
	transform: translateX(-30%);
}

.which {
		/* image 1 */
		padding: 1px;
		padding-right: 10%;
		position: relative;
		width: 240px;
		height: 121.33px;
		/* you need to match the shadow color to your background or image border for the desired effect*/
	
}

.unordered_list li {
	width: 100%;
	display: inline;
	justify-content:center;
	cursor: pointer;
	padding-right: 7vw;
	padding-left: 7vw;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	align-items: center;
	text-align: center;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(215, 253, 0, 0.25);
}

.unordered_list li:hover {
	color: #e5ff00;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.521);
}


@media all and (min-width: 1100px) and (max-width: 1250px){
	.unordered_list li {
		padding-right: 6vw;
		padding-left: 6vw;
	}
}

@media all and (min-width: 920px) and (max-width: 1100px) {
	.unordered_list li {
		padding-right: 4vw;
		padding-left: 5vw;
	}
}
@media all and (min-width: 750px) and (max-width: 920px) {
	.unordered_list li {
		padding-right: 2vw;
		padding-left: 2vw;
	}
}

@media all and (min-width: 670px) and (max-width: 750px) {
	.unordered_list li {
		padding-right: 1vw;
		padding-left: 1vw;
	}
}

@media all and (max-width: 670px) {
	.unordered_list li {
		font-size: 20px;
		padding-right: 2vw;
		padding-left: 2vw;
	}
	.logo {
		width: 170px;
		height: auto;
		padding-right: 10%;
	}
}

@media all and (max-width: 600px) {
	.unordered_list li {
		display:list-item;
		list-style: none;
		padding-right: 2vw;
		padding-left: 0vw;
	}
	.logo {
		width: 170px;
		height: auto;
		padding-right: 10%;
	}
}

